<div class="footer">
    <div>
        <strong>Copyright</strong> S+ &copy; 2015
    </div>
</div>
</div>
</div>

<!-- Mainly scripts -->
<script src="__PUBLIC__/admin/js/jquery-2.1.1.min.js"></script>
<script src="__PUBLIC__/admin/js/bootstrap.min.js?v=3.4.0"></script>
<script src="__PUBLIC__/admin/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="__PUBLIC__/admin/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Peity -->
<script src="__PUBLIC__/admin/js/plugins/peity/jquery.peity.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="__PUBLIC__/admin/js/hplus.js?v=2.2.0"></script>
<script src="__PUBLIC__/admin/js/plugins/pace/pace.min.js"></script>

<!-- jQuery UI -->
<script src="__PUBLIC__/admin/js/plugins/jquery-ui/jquery-ui.min.js"></script>
</body>
</html>
