<nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
    <ul class="nav navbar-top-links navbar-right">
        <li>
            <span class="m-r-sm text-muted welcome-message">
                <a href="{:U('Admin/Index')}" title="返回首页">
                    <i class="fa fa-home"></i>
                </a>
                欢迎使用海雅商城后台管理系统
            </span>
        </li>
        <li>
            <a href="{:U('Admin/Login/loginOut')}">
                <i class="fa fa-sign-out"></i> 清除缓存
            </a>
        </li>
        <li>
            <a href="{:U('Admin/Login/loginOut')}">
                <i class="fa fa-sign-out"></i> 退出
            </a>
        </li>
    </ul>

</nav>
