<!-- 公共头部 -->
<include file="Public:header"/>
<header data-am-widget="header" class="am-header am-header-haiya divider">
    <div class="am-header-left am-header-nav">
        <a href="#">
            <i class="am-icon-arrow-left"></i>
        </a>
    </div>
    <h1 class="am-header-title">
        <a href="#title-link" class="">收索结果</a>
    </h1>
</header>


<div data-am-widget="list_news" class="am-list-news am-list-news-default">
    <div class="am-list-news-bd">
        <ul class="am-list">
            <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left am-margin-vertical am-padding-left">
                <div class="am-u-sm-4 am-list-thumb">
                    <a href="http://www.douban.com/online/11614662/" class="">
                        <img src="http://img5.douban.com/lpic/o636459.jpg" alt="我很囧，你保重....晒晒旅行中的那些囧！"/>
                    </a>
                </div>
                <div class=" am-u-sm-8 am-list-main">
                    <h3 class="am-list-item-hd">
                        <a href="http://www.douban.com/online/11614662/" class="">我很囧，你保重....晒晒旅行中的那些囧！</a>
                    </h3>

                    <div class="am-list-item-text"><s>原价￥:423RMB</s></div>
                    <div class="am-list-item-text">￥：<span class="am-text-danger">234RMB</span></div>
                    <div class="am-list-item-text">日期：2015-07-23
                        <button type="button" class="am-btn am-btn-danger am-btn-xs">加入购物车</button>
                    </div>
                </div>
            </li>

            <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left am-margin-vertical am-padding-left">
                <div class="am-u-sm-4 am-list-thumb">
                    <a href="http://www.douban.com/online/11614662/" class="">
                        <img src="http://img5.douban.com/lpic/o636459.jpg" alt="我很囧，你保重....晒晒旅行中的那些囧！"/>
                    </a>
                </div>
                <div class=" am-u-sm-8 am-list-main">
                    <h3 class="am-list-item-hd">
                        <a href="http://www.douban.com/online/11614662/" class="">晒晒旅行中的那些囧！</a>
                    </h3>

                    <div class="am-list-item-text"><s>原价￥:423RMB</s></div>
                    <div class="am-list-item-text">￥：<span class="am-text-danger">234RMB</span></div>
                    <div class="am-list-item-text">日期：2015-07-23
                        <button type="button" class="am-btn am-btn-danger am-btn-xs">加入购物车</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>


<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default "
     id="">
    <ul class="am-navbar-nav am-cf am-avg-sm-4">
        <li>
            <a href="sms:18601860186?body=约吗？" class="">
                <span class="am-icon-home"></span>
                <span class="am-navbar-label">首页</span>
            </a>
        </li>
        <li>
            <a href="tel:18601860186" class="">
                <span class="am-icon-shopping-cart"></span>
                <span class="am-navbar-label">购物车</span>
            </a>
        </li>
        <li data-am-navbar-share>
            <a href="###" class="">
                <span class="am-icon-user"></span>
                <span class="am-navbar-label">我的</span>
            </a>
        </li>

    </ul>
</div>


<!-- 公共底部 -->
<include file="Public:footer"/>
</body>
</html>



