<!-- 公共头部 -->
<include file="Public:header"/>
<header data-am-widget="header" class="am-header am-header-haiya divider">
    <div class="am-header-left am-header-nav">
        <a href="#">
            <i class="am-icon-arrow-left"></i>
        </a>
    </div>
    <h1 class="am-header-title">
        <a href="#title-link" class="">我的订单</a>
    </h1>
</header>

<div class="am-container order-container">
    <div class="order-bg"></div>
    <img src="__PUBLIC__/Home/images/tou.jpg" alt="" class="am-img-responsive order-img "/>

    <form action="" method="post" class="am-form">

        <div class="order-text">
            <span>已有0人参加，已募集0元，目标200.00元</span>

            <div>0.00%</div>
        </div>

        <div data-am-widget="list_news" class="am-list-news am-list-news-default">
            <div class="am-list-news-bd">
                <ul class="am-list">
                    <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left am-margin-vertical am-padding-left">
                        <div class="am-u-sm-4 am-list-thumb">
                            <a href="http://www.douban.com/online/11614662/" class="">
                                <img src="http://img5.douban.com/lpic/o636459.jpg" alt="我很囧，你保重....晒晒旅行中的那些囧！"/>
                            </a>
                        </div>
                        <div class=" am-u-sm-8 am-list-main">
                            <h3 class="am-list-item-hd">
                                <a href="http://www.douban.com/online/11614662/" class="">我很囧，你保重....晒晒旅行中的那些囧！</a>
                            </h3>

                            <div class="am-list-item-text">￥：234RMB</div>
                        </div>
                    </li>

                    <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left am-margin-vertical am-padding-left">
                        <div class="am-u-sm-4 am-list-thumb">
                            <a href="http://www.douban.com/online/11614662/" class="">
                                <img src="http://img5.douban.com/lpic/o636459.jpg" alt="我很囧，你保重....晒晒旅行中的那些囧！"/>
                            </a>
                        </div>
                        <div class=" am-u-sm-8 am-list-main">
                            <h3 class="am-list-item-hd">
                                <a href="http://www.douban.com/online/11614662/" class="">晒晒旅行中的那些囧！</a>
                            </h3>

                            <div class="am-list-item-text">￥：234RMB</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="am-btn-group doc-js-btn-1 order-div" data-am-button>
            <label class="am-btn am-btn-primary">
                <input type="radio" name="options" value="0.01" id="option1">0.01
            </label>
            <label class="am-btn am-btn-primary">
                <input type="radio" name="options" value="2.00" id="option2">2.00
            </label>
            <label class="am-btn am-btn-primary">
                <input type="radio" name="options" value="3.00" id="option3">3.00
            </label>
            <label class="am-btn am-btn-primary">
                <input type="radio" name="options" value="5.00" id="option4">5.00
            </label>
            <label class="am-btn am-btn-primary">
                <input type="radio" name="options" value="all" id="option5">包了
            </label>
        </div>

        <button type="button" class="am-btn am-btn-success am-btn-block order-btn">为Ta代付</button>


    </form>
</div>


<!-- 公共底部 -->
<include file="Public:footer"/>
</body>
</html>



