<!-- 公共头部 -->
<include file="Public:header"/>
<header data-am-widget="header" class="am-header am-header-haiya divider">
    <div class="am-header-left am-header-nav">
        <a href="#">
            <i class="am-icon-arrow-left"></i>
        </a>
    </div>
    <h1 class="am-header-title">
        <a href="#title-link" class="">选择地址</a>
    </h1>

    <div class="am-header-right am-header-nav">
        <a href="#">确定</a>
    </div>
</header>

<div class="am-container">
    <div data-am-widget="list_news" class="am-list-news am-list-news-default">
        <div class="am-list-news-bd">
            <ul class="am-list">
                <li class="am-g am-list-item-desced">
                    <div class="am-u-sm-2 changeadd-li">
                        <i class="am-icon-check-circle changeadd-icon changeadd-icon-color"></i>
                    </div>
                    <div class="am-u-sm-10">
                        <span class="am-u-sm-4">张三</span>
                        <span class="am-u-sm-8">13500000000</span>
                        <span class="am-u-sm-12">广东省广州市越秀区珠江国际大厦</span>
                    </div>
                </li>

                <li class="am-g am-list-item-desced">
                    <div class="am-u-sm-2 changeadd-li">
                        <i class="am-icon-check-circle changeadd-icon"></i>
                    </div>
                    <div class="am-u-sm-10">
                        <span class="am-u-sm-4">张三</span>
                        <span class="am-u-sm-8">13500000000</span>
                        <span class="am-u-sm-12">广东省广州市越秀区珠江国际大厦</span>
                    </div>
                </li>


            </ul>
        </div>


    </div>
    <a href="" class="am-btn am-btn-success am-btn-block">新建地址</a>

</div>

<!-- 公共底部 -->
<include file="Public:footer"/>
</body>
</html>



