<!-- 公共头部 -->
<include file="Public:header"/>
<header data-am-widget="header" class="am-header am-header-haiya divider">
    <div class="am-header-left am-header-nav">
        <a href="#">
            <i class="am-icon-arrow-left"></i>
        </a>
    </div>
    <h1 class="am-header-title">
        <a href="#title-link" class="">充值中心</a>
    </h1>

    <div class="am-header-right am-header-nav">
        <a href="#">帮助</a>
    </div>
</header>


<div class="am-container charge-container">

    <div class="charge-bg"></div>
    <img src="__PUBLIC__/Home/images/tou.jpg" alt="" class="am-img-responsive am-center charge-img " />
    <div class="charge-account">
        <span>余额</span><br>
        <span>￥500.00</span>
    </div>

    <form method="post"  action="" class="am-form">



        <div class="am-btn-group doc-js-btn-1 charge-div" data-am-button>
            <label class="am-btn am-btn-primary">
                <input type="radio" name="options" value="10" id="option1">10元
            </label>
            <label class="am-btn am-btn-primary">
                <input type="radio" name="options" value="20" id="option2">20元
            </label>
            <label class="am-btn am-btn-primary">
                <input type="radio" name="options" value="30" id="option3">30元
            </label>
            <label class="am-btn am-btn-primary">
                <input type="radio" name="options" value="50" id="option4">50元
            </label>
            <label class="am-btn am-btn-primary">
                <input type="radio" name="options" value="100" id="option5">100元
            </label>
            <label class="am-btn am-btn-primary">
                <input type="radio" name="options" value="200" id="option6">200元
            </label>
            <label class="am-btn am-btn-primary">
                <input type="radio" name="options" value="300" id="option7">300元
            </label>
            <label class="am-btn am-btn-primary">
                <input type="radio" name="options" value="500" id="option8">500元
            </label>
            <label class="am-btn am-btn-primary">
                <input type="radio" name="options" value="all" id="option9">包了
            </label>
        </div>

        <div class="charge-btn">
            <input type="text" placeholder="请输入充值金额" class="charge-input">
            <input type="button" class="am-btn am-u-sm-7" value="应付:￥100.00">
            <input type="button" class="am-btn am-btn-default am-u-sm-5" value="立即充值">
        </div>
    </form>
</div>





<!-- 公共底部 -->
<include file="Public:footer"/>
</body>
</html>



