<!-- 公共头部 -->
<include file="Public:header"/>
<header data-am-widget="header" class="am-header am-header-haiya divider">
    <div class="am-header-left am-header-nav">
        <a href="#">
            <i class="am-icon-arrow-left"></i>
        </a>
    </div>
    <h1 class="am-header-title">
        <a href="#title-link" class="">我的收藏</a>
    </h1>
</header>


<div data-am-widget="list_news" class="am-list-news am-list-news-default">
    <div class="am-list-news-bd">
        <ul class="am-list">
            <volist name="collect" id="list">
            <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left am-margin-vertical am-padding-left">
                <div class="am-u-sm-4 am-list-thumb">
                    <a href="{:U('Home/Goods/goodsDesc?gid='.$list['gid'].'')}" class="">
                        <img src="{$list.pic_url}" alt="{$list.goods_name}"/>
                    </a>
                </div>
                <div class=" am-u-sm-8 am-list-main">
                    <h3 class="am-list-item-hd">
                        <a href="{:U('Home/Goods/goodsDesc?gid='.$list['gid'].'')}" class="">{$list.goods_name}</a>
                    </h3>

                    <div class="am-list-item-text">￥:<span class="am-text-danger">{$list.goods_price}RMB</span></div>
                    <div class="am-list-item-text">日期：{$list.add_time|date="y-m-d H:i",###}</div>
                </div>
            </li>
            </volist>

        </ul>
    </div>
</div>


<!-- 公共底部 -->
<include file="Public:footer"/>
</body>
</html>



