<!-- 公共头部 -->
<include file="Public:header"/>
<header data-am-widget="header" class="am-header am-header-haiya divider">
    <div class="am-header-left am-header-nav">
        <a href="#">
            <i class="am-icon-arrow-left"></i>
        </a>
    </div>
    <h1 class="am-header-title">
        <a href="#title-link" class="">领取优惠券</a>
    </h1>
</header>


<div data-am-widget="list_news" class="am-list-news am-list-news-default">
    <div class="am-list-news-bd">
        <ul class="am-list coupon-ul">
            <li class="am-g am-list-item-desced am-margin-vertical am-padding">
                <table class="am-table coupon-table">
                    <tr>
                        <td style="vertical-align: middle;">彩<br>券</td>
                        <td>
                            <div>优惠券</div>
                            <div>满300减30</div>
                            <div>
                                <small>限领一张 限店铺使用</small>
                            </div>
                            <div>
                                <small>2015-07-23 -- 2015-07-31</small>
                            </div>
                        </td>
                        <td></td>
                    </tr>
                </table>
            </li>

            <li class="am-g am-list-item-desced am-margin-vertical am-padding">
                <table class="am-table coupon-table">
                    <tr>
                        <td style="vertical-align: middle;">彩<br>券</td>
                        <td>
                            <div>优惠券</div>
                            <div>满300减30</div>
                            <div>
                                <small>限领一张 限店铺使用</small>
                            </div>
                            <div>
                                <small>2015-07-23 -- 2015-07-31</small>
                            </div>
                        </td>
                        <td></td>
                    </tr>
                </table>
            </li>
        </ul>
    </div>
</div>


<!-- 公共底部 -->
<include file="Public:footer"/>
</body>
</html>



