<!-- 公共头部 -->
<include file="Public:header"/>
<header data-am-widget="header" class="am-header am-header-haiya divider">
    <div class="am-header-left am-header-nav">
        <a href="#">
            <i class="am-icon-arrow-left"></i>
        </a>
    </div>
    <h1 class="am-header-title">
        <a href="#title-link" class="">地址管理</a>
    </h1>
</header>

<div class="am-container">
    <div data-am-widget="list_news" class="am-list-news am-list-news-default">

        <div class="am-list-news-bd">
            <ul class="am-list">


                <li class="am-g am-list-item-desced">
                    <span class="am-u-sm-6">张三</span>
                    <span class="am-u-sm-6">13500000000</span>

                    <div class="am-list-item-hd am-u-sm-12 ">广东省广州市越秀区珠江国际大厦</div>
                    <hr data-am-widget="divider" style="" class="am-divider am-divider-default"/>
                    <span class="am-u-sm-8"><i class="am-icon-check-circle manageadd-icon"></i>默认地址</span>

                    <a href="" class="am-u-sm-2">编辑</a>
                    <a href="" class="am-u-sm-2">删除</a>
                </li>


                <li class="am-g am-list-item-desced am-margin-vertical">
                    <span class="am-u-sm-6">张三</span>
                    <span class="am-u-sm-6">13500000000</span>

                    <div class="am-list-item-hd am-u-sm-12 ">广东省广州市越秀区珠江国际大厦</div>
                    <hr data-am-widget="divider" style="" class="am-divider am-divider-default"/>
                    <span class="am-u-sm-8"><i class="am-icon-check-circle"></i>默认地址</span>

                    <a href="" class="am-u-sm-2">编辑</a>
                    <a href="" class="am-u-sm-2">删除</a>
                </li>

            </ul>
        </div>
    </div>


</div>

<!-- 公共底部 -->
<include file="Public:footer"/>
</body>
</html>



